<tr>
	<td><%= movie.id %></td>
	<td><%= movie.name %></td>
	<td><%= movie.year %></td>
	<td><%= movie.description %></td>
	<td><%= movie.image_url %></td>
	<td><%= status_text(movie) %></td>
	<td><%= movie.created_at %></td>
	<td><%= movie.updated_at %></td>
</tr>